 <div class="container" id="home">
        <div class="row text-center">
            <div class="col-md-12">
                <span class="head-main yello-text ">NOW OR NEVER</span>
                <h2 class="head-sub-main">21 Day's Flat Belly Program </h2>
                <h3 class="head-sub-main" style="font-size: 25px" > From 20th August OnWards </h3>
               <!--  <a href="#about-sec" class="btn btn-danger btn-lg head-btn-one"></a> &nbsp;  <a href="#about-sec" class="btn btn-primary btn-lg"></a> -->
            </div>
        </div>
    </div>

